<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @restaurant.name %>
  <%= @restaurant.category %> food
  <%# <%= â­ * @restaurant.rating +1 %>

</div>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>ðŸ˜±&hearts;<%= review.rating  %></h2>
        <p><%= review.content %></p>
      </div>
    </div>
  <% end %>
</ul>
